@model SocialMedia
<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Social Media Managemenet</span> / Add Social Media
        </h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <form asp-controller="SocialMedia" asp-action="Add" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="form-label">Name</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <input asp-for="Name" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp">
                            </div>

                            <div class="form-group">
                                <label asp-for="Url" class="form-label">Url</label>
                                <span asp-validation-for="Url" class="text-danger"></span>
                                <input asp-for="Url" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp">
                            </div>

                            <div class="form-group">
                                <label asp-for="Icon" class="form-label">Icon</label>
                                <span asp-validation-for="Icon" class="text-danger"></span>
                                <input asp-for="Icon" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp">
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>