@model ArticleAddDto
<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Article Managemenet</span> / Add Article
        </h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="form-label">Category</label>
                                <a class="btn text-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Add Category <i class="bx bx-plus"></i>
                                </a>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                                <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="form-label">Title</label>
                                <span asp-validation-for="Title" class="text-danger"></span>
                                <input asp-for="Title" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp">
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="form-label">Content</label>
                                <span asp-validation-for="Content" class="text-danger"></span>
                                <textarea asp-for="Content" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp" style="min-height:300px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo" class="form-label">Photo</label>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                                <input asp-for="Photo" type="file" accept="image/*" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="d-block form-label">Category Name</label>
                        <input type="text" class="form-control" id="categoryName"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave" data-keyboard="false">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/categoryAdd.js"></script>
    <script>
        var app = app || {};
        app.Urls = app.Urls || {};

        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.categoryAddUrl = "@(Url.Action("AddWithAjax", "Category"))";
        app.Urls.articleAddUrl = "@(Url.Action("Add", "Article"))";
    </script>
}