@model ArticleUpdateDto

<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">Article Managemenet</span> / Update Article
        </h4>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <form asp-controller="Article" asp-action="Update" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label asp-for="CategoryId" class="form-label">Category</label>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                                <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Title" class="form-label">Title</label>
                                <span asp-validation-for="Title" class="text-danger"></span>
                                <input asp-for="Title" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp">
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="form-label">Content</label>
                                <span asp-validation-for="Content" class="text-danger"></span>
                                <textarea asp-for="Content" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="" aria-describedby="defaultFormControlHelp" style="min-height:300px;"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>