@using Blog.NTierMVC.Entity.DTOs.Categories
 @model List<CategoryDto>

<div class="content">
    <ul>
        @foreach(var item in Model)
        {
            <li><a href="#">- @item.Name</a></li>
        }
        
    </ul>
</div>